.breadcrumbs {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	color: inherit;

	// .breadcrumbs__list

	&__list {
		display: flex;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .breadcrumbs__li

	&__li {
		margin-right: rem(15);
		display: flex;
		align-items: center;
		white-space: nowrap;

		&:not(:last-child) {
			&::after {
				content: '/';
				display: block;
				// height: 70%;
				// width: 2px;
				margin-left: rem(15);
			}
		}
	}

	// .breadcrumbs__link

	&__link {
		color: inherit;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		white-space: nowrap;

		&:hover {
			text-decoration: underline;
		}
	}

	// .breadcrumbs__item

	&__item {
		color: inherit;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		white-space: nowrap;
	}
}