// Заголовки, общие БЄМ блоки и проче...
.license-link {
   font-weight: 400;
   font-size: 14px;
   line-height: 157%;
   color: #000;
   display: flex;
   gap: 16px;
   align-items: center;

   img {
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
   }

   &:hover {
      text-decoration: underline;
   }

   @media (max-width:$md) {
      justify-content: center;
   }
}

.video-btn {
   background: #a2f4ee;
   border-radius: 31px;
   display: grid;
   grid-template-columns: 22px 1fr;
   align-items: center;
   gap: 15px;
   font-weight: 400;
   font-size: 18px;
   line-height: 144%;
   color: #5f5f5f;
   padding: rem(13) rem(25);
   transition: background 0.3s ease 0s;

   &:hover {
      background: #0ae8d5;
   }
}

.gradient-bg .page {
   position: relative;

   &::before {
      content: '';
      height: 845px;
      width: 780px;
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(100% 100% at 0% 0%, rgb(218, 255, 253) 0%, rgb(255, 255, 255) 100%);
      // transform: rotate(90deg);
      z-index: -1;
      pointer-events: none;
      @include adaptiveValue("width", 780, 320, 0, 900, 320);
      @include adaptiveValue("height", 845, 374, 0, 900, 320);
   }
}

.search-empty {
   max-width: 1000px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: rem(190);
}