//====================================================================================================
.footer {
   padding-top: rem(110);
   padding-bottom: rem(40);

   @media (max-width:$md) {
      padding: rem(40) 0;

   }

   // .footer__container

   &__container {
      padding: rem(0) rem(105);
      max-width: 1820px;

      @media (max-width:$xl) {
         padding: rem(0) rem(30);
      }
   }

   // .footer__top

   &__top {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-bottom: rem(90);
      gap: 67px;

      @media (max-width:$pc) {
         margin-bottom: rem(57);
      }

      @media (max-width:$md) {
         margin-bottom: rem(22);
         display: block;
      }
   }

   // .footer__menu

   &__menu {
      display: flex;
      flex-wrap: wrap;
      gap: 23px 57.3px;

      @media (max-width:$lg) {
         gap: 22px;
      }

      @media (max-width:$md) {
         display: grid;
         justify-items: center;
         text-align: center;
      }
   }

   // .footer__link

   &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
      color: #000;
   }

   // .footer__license

   &__license {
      @media (max-width:$md) {
         margin-bottom: rem(22);

      }
   }

   // .footer__contacts

   &__contacts {
      margin-bottom: rem(70);

      @media (max-width:$pc) {
         margin-bottom: rem(56);
      }

      @media (max-width:$md) {
         margin-bottom: rem(22);
      }
   }

   // .footer__bottom

   &__bottom {}
}

.contacts-footer {
   display: flex;
   flex-wrap: wrap;
   gap: 35px 45px;

   @media (max-width:$xxl) and (min-width:$lg) {
      padding-right: rem(180);
   }

   @media (max-width:$lg) {
      gap: 22px;
   }

   @media (max-width:$md) {
      display: grid;
      justify-items: center;
   }

   // .contacts-footer__link

   &__link {
      display: grid;
      grid-template-columns: 24px 1fr;
      gap: 13px;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: #000;

      img {
         max-width: 100%;
         justify-self: center;
      }

      &:hover {
         text-decoration: underline;
      }

      // .contacts-footer__link_color-turquoise

      &_color-turquoise {
         color: #00aeb0;
      }
   }
}

//====================================================================================================
.copyright {

   // .copyright__wrapper

   &__wrapper {}

   // .copyright__body

   &__body {
      display: grid;
      grid-template-columns: repeat(2, auto) 1fr auto;
      column-gap: 50px;
      row-gap: 8px;
      justify-items: start;

      @media (max-width:$xxl) and (min-width:$lg) {
         grid-template-columns: auto 1fr auto;
      }

      @media (max-width:$lg) {
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
         gap: 22px;
      }
   }

   // .copyright__item

   &__item {
      font-size: 14px;
      line-height: 22px;

      @media (min-width:$lg) {}

      @media (max-width:$xxl) and (min-width:$lg) {

         &:nth-child(3) {
            grid-row: 2/3;
            grid-column: 2/3;
         }
      }

      @media (max-width:$lg) {
         text-align: center;
      }

      &:last-child {
         display: flex;
         align-items: center;
         gap: 7px;
         color: #757575;

         @media (max-width:$xxl) and (min-width:$lg) {
            // grid-row: 2/3;
            grid-column: 3/4;
         }
      }
   }

   // .copyright__svg

   &__svg {
      width: 75px;
      height: 13px;
   }
}