.page-header {
   padding-top: rem(48);
   padding-bottom: rem(40);

   @media (max-width:$lg) {
      padding: rem(21) 0;
   }

   // .page-header__image-ibg

   &__image-ibg {}

   // .page-header__breadcrumbs

   &__breadcrumbs {
      color: #858585;
      margin-bottom: rem(12);
      padding: rem(0) rem(20);
   }

   // .page-header__title

   &__title {
      font-weight: 400;
      font-size: 44px;
      text-align: center;
      color: #3b3d3e;
      padding: rem(0) rem(20);

      @media (max-width:$lg) {
         font-size: 26px;
      }
   }

   // &:has(.page-header__image-ibg),
   // &:has(.page-header__image-ibg img),
   &:has(.page-header__image-ibg img[src$='png']),
   &:has(.page-header__image-ibg img[src$='jpeg']),
   &:has(.page-header__image-ibg img[src$='jpg']),
   &:has(.page-header__image-ibg img[src$='webp']) {
      padding-top: rem(41);
      padding-bottom: rem(114);
      position: relative;
      // background: linear-gradient(to right, rgb(2, 215, 217) 12%, rgba(2, 215, 217, 0) 30%), linear-gradient(to left, #c4ebda 8%, rgba(196, 235, 218, 0) 32%);
      background: linear-gradient(to right, rgb(2, 215, 217) 15%, rgba(2, 215, 217, 0) 30%), linear-gradient(to left, #c4ebda 10%, rgba(196, 235, 218, 0) 30%);

      // @media (min-width:em(1920.98)) {
      //    background: linear-gradient(to right, rgb(2, 215, 217) 20%, rgba(2, 215, 217, 0) 30%), linear-gradient(to left, #c4ebda 18.5%, rgba(196, 235, 218, 0) 30%);
      // }
      @media (max-width:$lg) {
         padding-top: rem(20);
         padding-bottom: rem(50);
      }

      .page-header__image-ibg {
         background: #02d7d9;
         position: absolute;
         inset: 0;
         // margin: 0 auto;
         // max-width: 1600px;
         z-index: -1;

         img {
            opacity: 0.2;
         }
      }

      .page-header__breadcrumbs {
         color: #fff;
         margin-bottom: rem(88);

         @media (max-width:$lg) {
            margin-bottom: rem(34);
         }
      }

      .page-header__title {
         font-weight: 700;
         font-size: 84px;
         color: #fff;
         position: relative;

         @media (max-width:$xxl) {
            font-size: 54px;
         }

         @media (max-width:$lg) {
            font-size: 20px;
         }
      }
   }
}